/* ForgotPassword.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ededed;
    font-family: sans-serif;
  }
  
  .content {
    width: 900px;
    height: 600px;
    display: flex;
    box-shadow: 0 0 10px #0009;
  }
  
  .left {
    flex: 1;
    background-color: #f4f4f4; /* Opcional: para que la imagen tenga un fondo */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .left img {
    max-width: 100%; /* Asegura que la imagen no se desborde */
    height: auto; /* Mantiene la proporción de la imagen */
  }
  
  .right {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .right h1 {
    font-size: 2rem;
    margin-bottom: 60px;
    text-align: center;
  }
  
  .input-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  
  .input-group input {
    width: 90%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid #000;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .submit-btn {
    width: 95%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 30px;
  }
  
  .submit-btn:hover {
    background-color: #555;
  }
  
  .link-container {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    width: 95%;
  }
  
  .link-container a {
    font-size: 0.9rem;
    color: #333;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
    width: 50%;
    color: black;
    margin: 5px;
  }
  
  .link-container a:hover {
    background-color: #888;
  }
  